<div class="content content-pad frow center cStand">

    <!-- eContainer -->
    <div class="eContainer frow center">
        <!-- eContent -->
        <div class="ec-frame eCoff">
            
            <div class="ec-c wrapper-col eC-c-off">

                <!-- Title -->
                <div class="btrans title uB ec-elt0 ec-elt-off" style="margin-left: 10px;">SPEED TEST</div>

                <!-- dropdowns -->
                <div class="btrans uB ec-elt1 ec-elt-off frow space-between" style="margin: 10px;position: relative;z-index: 10;">

                    <!-- From -->
                    <div class="from" style="width: 50%;">

                        <span class="section-text">From</span>

                        <!-- eDrop -->
                        <div class="frow center eDrop" style="margin-right: 5px ;">

                            <div class="eDrop-left frow center">

                                <div class="eDrop-line-c2 fcol center">
                                    <div class="eDrop-line2"></div> 
                                </div>

                                <div class="eDrop-line-c1 fcol center">
                                <div class="eDrop-line1 l1l"></div> 
                                </div>

                            </div>

                            <div class="eDrop-frame">

                                <div class="btrans eDrop-bg noSelect">

                                    <span id="eDrop" class="btrans eDrop-text uB" style="pointer-events: none;">
                                        <ul class="btrans eDrop-ul drop1" type="from" style="list-style: none;margin: 0px;">
                                            <!-- Cities go here -->
                                            <li class='btrans eDrop-hov eDrop-list-item uL eDrop-marg'>Select</li>
                                        </ul>
                                    </span>

                                </div>

                            </div>

                            <div class="eDrop-right frow center">
                                
                                <div class="eDrop-line-c1 fcol center">
                                    <div class="eDrop-line1 l1r"></div> 
                                </div>

                                <div class="eDrop-line-c2 fcol center">
                                    <div class="eDrop-line2"></div> 
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- To -->
                    <div class="to" style="width: 50%;">

                        <span class="section-text">to</span>
                        
                        <!-- eDrop -->
                        <div class="frow center eDrop" style="margin-left: 5px ;">

                            <div class="eDrop-left frow center">

                                <div class="eDrop-line-c2 fcol center">
                                    <div class="eDrop-line2"></div> 
                                </div>

                                <div class="eDrop-line-c1 fcol center">
                                <div class="eDrop-line1 l1l"></div> 
                                </div>

                            </div>

                            <div class="eDrop-frame">

                                <div class="eDrop-bg noSelect">

                                    <span id="eDrop" class="btrans eDrop-text uB" style="pointer-events: none;">
                                        <ul class="btrans eDrop-ul drop2" type="to" style="list-style: none;margin: 0px;">
                                            <!-- Cities go here -->
                                            <li class='btrans eDrop-hov eDrop-list-item uL eDrop-marg'>Select</li>
                                        </ul>
                                    </span>
                                    
                                </div>

                            </div>

                            <div class="eDrop-right frow center">
                                
                                <div class="eDrop-line-c1 fcol center">
                                    <div class="eDrop-line1 l1r"></div> 
                                </div>

                                <div class="eDrop-line-c2 fcol center">
                                    <div class="eDrop-line2"></div> 
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Speed test run button -->
                <div class="btrans speed-btn ec-elt2 ec-elt-off" style="margin: 0px 0px 10px 0px;">

                    <!-- eBtn -->
                    <div class="eBtn speedTestRun" text="RUN"></div>

                </div>

                <!-- Error -->
                <span class="btrans uB hidden" id="eDrop-error" style="color: tomato;width: 100%;text-align: center;">ERROR: Either from or to is not selected, please select both and try again.</span>

            </div>
        </div>
    </div>

</div>

<script>
        setTimeout(() => {
            clearTimeout(pageLoadInstance); // Clear Instances 
            clearTimeout(eContainerInstance);
            clearTimeout(navLoadInstance);
            var pageLoadInstance; // Init pageLoadInstance
        
            animateLoad(); // Show content
            pageLoadInstance = setTimeout(() => { // Call eContainer animation functions
                importer();
                dropCreation();
                footerPlacer();
                pageBgRecalc();
                if ($(".preloader-table").hasClass("hidden")) {
                    $(".eContainer").each(function(){
                        if ($(this).hasClass("eContainer-Scroller")) {
                            // pass
                        } else {
                            var rClass = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
                            $(this).addClass(rClass);
                            eContainerPopScroll(rClass);
                        }
                    });
                } else {
                    // pass
                }
            }, 100);
        },200);
</script>