<div class="content frow center cStand">

    <div class="eContainer frow center">
        <div class="ec-frame eCoff">
            <div class="ec-c frow center eC-c-off">
                <div class="fcol space-between test">
                    <span class="elt ab ec-elt0 ec-elt-off" style="align-self: center;">content goes here<br/> [1]</span>
                    <span class="elt ab ec-elt1 ec-elt-off" style="align-self: center;">content goes here<br/> [2]</span>
                    <span class="elt ab ec-elt2 ec-elt-off" style="align-self: center;">content goes here<br/> [3]</span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    animateLoad();
    footerPlacer();
    setTimeout(() =>{
        eContainerPop();
    },500);
</script>