 <!-- eBtn -->
 <div class="frow center">

    <div class="eBtn-left">

        <div class="eBtn-line-c fcol center">
           <div class="eBtn-line1"></div> 
        </div>
        
        <div class="eBtn-line-c fcol center">
            <div class="eBtn-line2"></div> 
         </div>

    </div>

    <div class="eBtn-frame">

        <div class="eBtn-bg">
            <span class="eBtn-text uB">TEST</span>
        </div>

    </div>

    <div class="eBtn-right">

        <div class="eBtn-line-c fcol center">
            <div class="eBtn-line2"></div> 
        </div>

        <div class="eBtn-line-c fcol center">
            <div class="eBtn-line1"></div> 
        </div>

    </div>

</div>