 <!-- eBtn -->
 <div class="frow center">

    <div class="eBtn-left frow center">

        <div class="eBtn-line-c2 fcol center">
            <div class="eBtn-line2"></div> 
         </div>

        <div class="eBtn-line-c1 fcol center">
           <div class="eBtn-line1 l1l"></div> 
        </div>

    </div>

    <div class="eBtn-frame">

        <div class="eBtn-bg">
            <span id="eBtn" class="eBtn-text uB">text</span>
        </div>

    </div>

    <div class="eBtn-right frow center">
        
        <div class="eBtn-line-c1 fcol center">
            <div class="eBtn-line1 l1r"></div> 
        </div>

        <div class="eBtn-line-c2 fcol center">
            <div class="eBtn-line2"></div> 
        </div>

    </div>

</div>