<div class="content fcow center cStand">
    <div class="home-header">

        <!-- Home img bg -->
        <img src="/static/img/bg.jpg" alt="EncomPN Bg" class="home-bg" />

        <!-- eContainer -->
        <div class="eContainer frow center home-h-eContainer">
            <!-- eContent -->
            <div class="ec-frame eCoff">
                
                <div class="ec-c wrapper-row eC-c-off">

                    <!-- Title -->
                    <div class="btrans home-h-title uB ec-elt0 ec-elt-off">TRAVEL <br> INSTANTLY <br> ACROSS <br> THE WORLD.</div>

                    <!-- Text -->
                    <span class="btrans uB home-text ec-elt1 ec-elt-off">The ENCOM Virtualisation laser is a
                        <br>very advanced technology allowing the
                        <br>user to travel great distances in a
                        <br>flash.</span>

                </div>
            </div>
        </div>

    </div>
    <span class="ab" style="align-self: center;">content goes here [home.html]</span>
</div>


<script>
    clearTimeout(pageLoadInstance); // Clear Instances 
    clearTimeout(eContainerInstance);
    clearTimeout(navLoadInstance);
    var pageLoadInstance; // Init pageLoadInstance

    animateLoad(); // Show content
    importer(); // Create eBtns
    pageLoadInstance = setTimeout(() =>{ // Call eContainer animation functions
                            eContainerPop();
                            footerPlacer();
                            pageBgRecalc();
                        },100);
</script>