<div class="content fcow center cStand">
    <div class="home-header">

        <!-- Home img bg -->
        <div alt="EncomPN Bg" class="home-bg"></div>

        <div class="fcol center" style="margin: 30px;">
            <!-- eContainer -->
            <div class="eContainer frow center home-h-eContainer" style="transform: translateY(-20vh);">
                <!-- eContent -->
                <div class="ec-frame eCoff">
                    
                    <div class="ec-c frow center eC-c-off">
    
                        <!-- Title -->
                        <div class="btrans home-h-title uB ec-elt0 ec-elt-off" style="margin: 10px;">TRAVEL <br> INSTANTLY <br> ACROSS <br> THE WORLD.</div>
    
                        <!-- Text & eBtn-->
                        <div class="btrans fcol center ec-elt1 ec-elt-off">

                            <!-- Text -->
                            <span class="uB home-text" style="margin: 10px;">The ENCOM Virtualisation laser is a
                                very advanced technology allowing the
                                user to travel great distances in a
                                flash.</span>

                            <!-- eBtn -->
                            <div class="eBtn" text=" DISCOVER MORE"></div>
                            
                        </div>
    
                    </div>
                </div>
            </div>
        </div>

    </div>
    <span class="ab" style="align-self: center;">content goes here [home.html]</span>
</div>


<script>
    clearTimeout(pageLoadInstance); // Clear Instances 
    clearTimeout(eContainerInstance);
    clearTimeout(navLoadInstance);
    var pageLoadInstance; // Init pageLoadInstance

    animateLoad(); // Show content
    importer(); // Create eBtns
    pageLoadInstance = setTimeout(() =>{ // Call eContainer animation functions
                            eContainerPop();
                            footerPlacer();
                            pageBgRecalc();
                        },100);
</script>