<div class="content content-pad frow center cStand">
    
    <!-- eContainer -->
    <div class="eContainer frow center">
        <!-- eContent -->
        <div class="ec-frame eCoff">
            
            <div class="ec-c wrapper-col eC-c-off">

                <!-- Title -->
                <div class="btrans title uB ec-elt0 ec-elt-off" style="margin-left: 10px;">RELAY MAP</div>

                <!-- Map -->
                <img src="/static/img/map.svg" class="btrans ec-elt1 ec-elt-off" style="height: 70vh" />

            </div>
        </div>
    </div>

</div>

<script>
    clearTimeout(pageLoadInstance); // Clear Instances 
    clearTimeout(eContainerInstance);
    clearTimeout(navLoadInstance);
    var pageLoadInstance; // Init pageLoadInstance

    animateLoad(); // Show content
    pageLoadInstance = setTimeout(() =>{ // Call eContainer animation functions
                            eContainerPop();
                            footerPlacer();
                            pageBgRecalc();
                        },100);
</script>