// Fluid vars
@wfluid: 100vw;
@hfluid: 100vh;
@wktuhack: calc(100vw - (100vw - 100%));

// Containers rules
.flex {
    display: flex;
}

.frow {
    .flex();
    flex-direction: row;
}

.fcol {
    .flex();
    flex-direction: column;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrapper-row {
    .frow();
    .space-between();
}

.wrapper-col {
    .fcol();
    .center();
}
.wfluid{
    width: @wfluid;
}
.hfluid{
    height: @hfluid;
}








body{
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: @ultra_accents @deepblue;
}
body::-webkit-scrollbar {
    width: 10px;          
  }
  
  body::-webkit-scrollbar-track {
    background: @deepblue;     
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: @ultra_accents;  
    border-radius: 20px;      
    border: 3px solid @deepblue;  
  }