// Main colors
@primary: #5283d1;
@secondary: #7F9CE5;
@ultra_accents: #E3EBFF;
@details: #f2dbff;
@lightblue: rgb(219, 229, 255);
@deepblue: rgb(54, 72, 117);
@deepbluegrad: linear-gradient(180deg, rgba(54, 72, 117, 1) 0%, rgba(0, 0, 0, 1) 100%);
@lpgrad: radial-gradient(circle, rgba(242, 219, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
@lbgrad: radial-gradient(circle, rgba(219, 229, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

// Transition vars
@btrans: 0.3s ease;

// Fonts
@text_font: "ubuntu";
@navlink_font: "acier-bat-solid";

// Fluid vars
@wfluid: 100vw;
@hfluid: 100vh;

// Containers rules
.flex {
    display: flex;
}

.frow {
    .flex();
    flex-direction: row;
}

.fcol {
    .flex();
    flex-direction: column;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrapper-row {
    .frow();
    .space-between();
}

.wrapper-col {
    .fcol();
    .center();
}

//General rules
    // Separators
    .full-sep {
        width: @wfluid;
        height: 0.5vh;
        background: @lightblue;
        background: -moz-@lbgrad;
        background: -webkit-@lbgrad;
        background: @lbgrad;
    }

    .total-sep {
        width: @wfluid;
        height: 0.5vh;
        background: @lightblue;
    }

    // Text
    .ab {
        font-family: @navlink_font;
        font-size: x-large;
    }

    .uB {
        font-family: @text_font;
        font-weight: 800;
        color: @ultra_accents;
    }

    .uL {}
    
    // Opacity rules
    .hidden {
        opacity: 0 !important;
        pointer-events: none;
        transition: @btrans;
    }
    .visible {
        opacity: 1 !important;
        transition: @btrans;
    }
    .none {
        display: none;
    }

    // Pointer rules
    .cp{
        cursor: pointer;
    }

// Media queries
@media screen and (max-width: 800px) {
    .navbar-links {
        display: none;
    }

    .foot-bg {
        transform: scale(0, 1);
    }

    .foot-logo,
    .foot-text {
        display: none;
    }

    .foot-sep,
    .foot-floor {
        transform: translateY(5vh);
    }
}

@media screen and (min-width: 800px) {
    .navbar-ham {
        display: none;
    }
}



// Navbar rules
.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: @wfluid;
    height: 50px;
    .fcol();
    .space-between();
    background: @primary;
    background: -moz-@lpgrad;
    background: -webkit-@lpgrad;
    background: @lpgrad;
    z-index: 1000;
}

.navbar-content {
    .frow();
    .space-between();
}

.navbar-logo {
    height: 30px;
    fill: @ultra_accents;
    transition: @btrans;
}

.navbar-logo:hover {
    fill: @primary;
    transition: @btrans;
}

#navbar-ham {
    height: 30px;
    transition: @btrans;
    stroke: @ultra_accents;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 40px;
}

#navbar-ham:hover {
    stroke: @primary;
    transition: @btrans;
}

.nav-link {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color: @ultra_accents;
    transition: @btrans;
    text-shadow: 0px 0px 0px @primary;
    align-self: center;
}

.nav-link:hover {
    color: @primary;
    transition: @btrans;
    text-shadow: 0px 0px 5px @primary;
}

.navbar-item {
    height: 50px;
    .wrapper-col();
    padding: 0px 10px 0px 10px;
}

.navbar-sep {
    position: absolute;
    top: 50px;
    left: 0px;
}

.scrollFix {
    margin-right: 20px;
}

// Side nav rules
.sidenav {
    .wrapper-col();
    width: @wfluid;
    height: 50px;
    position: fixed;
    z-index: 1001;
    top: 0px;
    right: 0px;
    background-color: @deepblue;
}

.sidenav-wrapper {
    width: @wfluid;
}

.sidenav-container {

    height: 100%;
    width: 50%;
}

.sidenav-noInt {
    top: 0vh;
    left: 0vw;
    position: fixed;
    z-index: 999;
    height: @hfluid;
    width: @wfluid;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
    opacity: 0;
}

#side-cross {
    height: 30px;
    width: 30px;
    padding-right: 10px;
    fill: @ultra_accents;
    transition: @btrans;
}

#side-cross:hover {
    fill: tomato;
    transition: @btrans;
}

.sideOn {
    transform: translateY(0px);
    transition: @btrans;
}

.sideOff {
    transform: translateY(-50px);
    transition: @btrans;
}


// Page content rules
.page-content {
    position: absolute;
    width: @wfluid;
    min-height: @hfluid;
    top: 0px;
    left: 0px;
    background: @deepblue;
    background: @deepbluegrad;
    background: -moz-@deepbluegrad;
    background: -webkit-@deepbluegrad;
}

// Footer rules
.foot {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    .fcol();
    .space-between();
    transition: transform @btrans;
}

.foot-bg {
    background: @primary;
    background: -moz-@lpgrad;
    background: -webkit-@lpgrad;
    background: @lpgrad;
    width: @wfluid;
    height: @hfluid - 95;
    order: 3;
}

.foot-floor {
    top: -5vh;
    order: 1;
}

.foot-sep {
    order: 2;
}

.foot-bg .wrapper-row {
    padding: 0px 10px 0px 10px;
}

.foot-text {
    transition: @btrans;
    align-self: center;
    opacity: 0.5;
}

.foot-logo {
    transition: @btrans;
    height: 20px;
    fill: @ultra_accents;
}