// Media queries
@media screen and (max-width: 800px) {
    .navbar-links {
        display: none;
    }

    .foot-bg {
        transform: scale(0, 1);
    }

    .foot-logo,
    .foot-text {
        display: none;
    }

    .foot-sep,
    .foot-floor {
        transform: translateY(5vh);
    }
    .ec-resp{
        .fcol();
        .center();
    }
    .ec-img{
        max-height: 100px;
    }
}

@media screen and (min-width: 800px) {
    .navbar-ham {
        display: none;
    }
    .ec-resp{
        .fcol();
        .center();
    }
}